<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ .Description }}">
    <meta property="og:title" content="{{ .Title }}">
    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    {{ else }}
    <meta property="og:type" content="website">
    {{ end }}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
    {{ end }}
    {{ .Hugo.Generator }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{ range .Params.css }}
    <link rel="stylesheet" href="{{ . }}">
    {{ end }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    {{ if .Params.highlight }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    {{ end }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="canonical" href="{{ .Site.BaseURL }}{{ .URL }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      p { font-family: sans-serif; }
      h1 { font-family: sans-serif; }
      h2 { font-family: sans-serif; }
      h3 { font-family: sans-serif; }
      h4 { font-family: sans-serif; }
    </style>
</head>
<body>

{{ partial "nav.html" . }}

<main>
	<article>
		{{ .Content }}
	</article>
  <br/>
</main>

<div id="bottom-nav" class="text-center center-block">
	<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ partial "footer.html" . }}
