{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<h1>{{ .Site.Params.headline }}</h1>
</header>

{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Section" "posts") }}
{{ range $paginator.Pages }}
	{{ .Render "summary"}}
{{ end }}

<div class="text-center center-block">
	{{ template "_internal/pagination.html" . }}
</div>

{{ partial "footer.html" . }}
